/* Coded by Nader Mahbub Khan*/

@font-face {
    font-family:"NaderHandwriting";
    src: url("src/NaderH.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "NaderH";
  src: url("src/NaderH.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NaderH2";
  src: url("src/NaderH2.otf");
  font-weight: normal;
  font-style: normal;
}