/* Coded by Nader Mahbub Khan*/

@font-face {
    font-family:"NaderHandwriting";
    src: url("src/NaderH.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "NaderHa";
  src: url("src/NaderH1.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NaderHb";
  src: url("src/NaderH2.ttf");
  font-weight: normal;
  font-style: normal;
}